
html {
     --lumo-primary-color: red;
     --lumo-base-color: white;
     --lumo-border-radius: 10px;

}
body{
    background-color: gray;
    border-radius: 5px;
    horiz-align: center;
}
vaadin-button{
    border-radius: 5px;

}
vaadin-horizontal-layout{
    align-self: center;
}
.router-link{
   position: absolute;
   align-self: center;
   top : 57%;


}

vaadin-login-form-wrapper {
    border-radius: 10px;
    align-self: center;
}

